Box2D==2.3.10
TA-Lib==0.4.25
build==0.8.0
gym==0.23.1  # Do not increase past 0.23.1 until this is live: https://github.com/bulletphysics/bullet3/pull/4335
gym-algorithmic==0.0.1
keyboard==0.13.5
matplotlib==3.6.0
mt5linux
neureal-ai-util @ git+https://github.com/neureal/neureal-ai-util.git
numba==0.56.2
pandas==1.5.0
procgen==0.10.7
pybullet==3.2.5
pygame==2.1.2
pyglet==1.5.27
tensorflow-gpu==2.9.1
tensorflow_addons==0.18.0
tensorflow_datasets==4.6.0
tensorflow_probability==0.17.0
